# Multiple Linear Regression- Car dataset

## Importing the libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing the dataset

In [3]:
data = pd.read_csv('CAR.csv')

In [4]:
data.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           4337 non-null   int64
 1   selling_price  4337 non-null   int64
 2   km_driven      4337 non-null   int64
 3   fuel           4337 non-null   object
 4   seller_type    4337 non-null   object
 5   transmission   4337 non-null   object
 6   owner          4337 non-null   object
dtypes: int64(3), object(4)
memory usage: 237.3+ KB

### Split the dataset into independent and Dependent variables

In [6]:
data.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [7]:
x = data[['year', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner']]
y = data[['selling_price']]

### Work with the catagorical data

In [8]:
x = pd.get_dummies(data[['year', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner']], drop_first=True)

In [9]:
x.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2007,70000,0,0,0,1,1,0,1,0,0,0,0
1,2007,50000,0,0,0,1,1,0,1,0,0,0,0
2,2012,100000,1,0,0,0,1,0,1,0,0,0,0
3,2017,46000,0,0,0,1,1,0,1,0,0,0,0
4,2014,141000,1,0,0,0,1,0,1,0,1,0,0

## Splitting the dataset into the Training set and Test set
- Random State 20

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_rest, y_train, y_rest = train_test_split(x, y, test_size=.20, random_state=20)

In [11]:
x_test, x_val, y_test, y_val = train_test_split(x_rest, y_rest, test_size=.50, random_state=42)

## Training the Multiple Linear Regression model on the Training set

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
regressor = LinearRegression()
regressor.fit(x_train.values, y_train)

LinearRegression()

## Intercept and Coefficient

In [14]:
print("Coefficients", regressor.coef_)

Coefficients [[ 3.62245575e+04 -8.31584195e-01  2.88702246e+05  2.91038305e-11
   4.65464254e+04  2.64057958e+03 -6.04980455e+04  1.71882689e+05
  -8.64323880e+05 -3.50851884e+03 -4.04890692e+04  1.83178786e+05
  -2.83903020e+04]]

In [15]:
print("Intercept", regressor.intercept_)

Intercept [-71683645.58006924]

## Predicting the Test set results

In [16]:
y_pred = regressor.predict(x_test.values)

In [17]:
print(y_pred)

[[  30749.25003727]
 [ 821100.12192748]
 [ 218516.58653592]
 [  37857.7797745 ]
 [ 289153.1110432 ]
 [ 630196.99126908]
 [ 477192.70902458]
 [ 155638.50364208]
 [ 259274.06596197]
 [ 522407.14628579]
 [ 118866.61699857]
 [ 266018.17558792]
 [  33294.33702557]
 [ 466224.56814849]
 [ 486101.24020372]
 [ 561650.87397622]
 [ 325535.21483561]
 [ 107589.58539997]
 [ 521161.80473301]
 [ 223823.10675913]
 [ 494449.82056004]
 [1315113.49566038]
 [ 529477.64668462]
 [1633241.79851329]
 [ 103304.95575809]
 [ 467989.02646664]
 [ 146019.33954766]
 [  37446.95711522]
 [ -90164.88577037]
 [ 810616.06172216]
 [ 523238.73048094]
 [ 637791.47279738]
 [  13186.69613707]
 [ 489095.16825539]
 [  63049.18599494]
 [  17752.7936372 ]
 [ 265027.32087488]
 [ 506977.10013007]
 [  91023.64423056]
 [ -87137.95338957]
 [ 235100.13835773]
 [ 473660.21568102]
 [ 613260.04960123]
 [ 401984.70437928]
 [ 282298.13757341]
 [ 566864.3872713 ]
 [ 716061.67707035]
 [1453574.57884182]
 [ 674016.0302508 ]
 [1056802.51602727]
 [ 259274.06060745]
 [ 423797.67742695]
 [ 108136.91459008]
 [1604136.35168265]
 [ 737840.41248353]
 [  -1840.07991301]
 [  97221.733365  ]
 [ 746465.14515765]
 [ 519080.80950513]
 [ 538474.086127  ]
 [ 483740.51595075]
 [ 406362.62158608]
 [ 367947.73296772]
 [1584543.47813244]
 [  98517.75049566]
 [ 727112.97636595]
 [ 458431.41966954]
 [ -32434.81236519]
 [1375187.43317294]
 [ 372212.2447575 ]
 [ 522207.56607895]
 [ 448712.68982618]
 [ 307597.38534598]
 [ 663728.12918636]
 [ 112862.56255519]
 [ 890769.3821526 ]
 [ 756444.15549958]
 [ 263065.11027072]
 [ 722871.89697063]
 [ 734613.78413431]
 [ 489201.75906938]
 [ 434317.20218875]
 [ 296888.08073671]
 [ 644135.25563617]
 [ 133798.08690147]
 [ 231048.8081959 ]
 [ 382498.42164305]
 [1418944.48026614]
 [ 468719.32073398]
 [ 490340.50980817]
 [-189923.9279761 ]
 [ 143058.14990069]
 [ 417526.24776766]
 [ 444661.35966435]
 [ 469061.55632909]
 [ 491172.09400332]
 [   4452.74740078]
 [ 426396.30171934]
 [ 200178.90304713]
 [ 434157.93167087]
 [ 563621.20891017]
 [ 642415.83083467]
 [ 824680.92347184]
 [1306366.04479   ]
 [ 212035.10103172]
 [ -25484.28362504]
 [1476443.14420874]
 [1728301.23302847]
 [ 260154.25502653]
 [ 487171.71936651]
 [ 283905.04955254]
 [ 530780.96882744]
 [ 231048.8081959 ]
 [ 501568.93118282]
 [ 227314.01494381]
 [ 317168.41735899]
 [  63489.92437106]
 [ 123465.2763505 ]
 [ 121802.10796016]
 [ 598707.01562481]
 [ 456769.9754581 ]
 [-117526.27208206]
 [ 496214.27887818]
 [ 250958.21865584]
 [ 395481.45282723]
 [ 381301.69031423]
 [ 665201.23778209]
 [ 244719.30245216]
 [  34384.47754042]
 [ 689142.09210269]
 [ 739812.47159636]
 [ 490340.50980817]
 [ 355580.56085429]
 [ 134107.75431547]
 [ 503962.4602055 ]
 [ 280837.26909159]
 [ 436944.94723496]
 [ 810532.07171845]
 [ 549562.59312928]
 [ 472570.07516617]
 [ 525426.31652279]
 [ 409210.40581603]
 [1697897.76494119]
 [ 388362.34220444]
 [ 461293.04356757]
 [ 405122.33791263]
 [ 622822.95728448]
 [ 617468.30497985]
 [ 428029.67576113]
 [ 162651.0234509 ]
 [ -13117.11151159]
 [ 356678.10930941]
 [ -49341.66896501]
 [ 609152.46302824]
 [ 810963.56524655]
 [ 662008.70438488]
 [1697897.76494119]
 [ 639348.05037372]
 [ 382858.26789057]
 [ 446631.69459829]
 [ 392098.89783221]
 [ 428029.67576113]
 [1360163.16332215]
 [ 435208.68110746]
 [ 457028.53177778]
 [ 649972.89501421]
 [ 236403.46050055]
 [ 178192.56683926]
 [ 751145.75960611]
 [1461732.87445444]
 [ 558689.68432924]
 [ 500053.46062285]
 [ 582333.88804127]
 [ 582333.88804127]
 [ 470382.4891243 ]
 [ 139316.02102247]
 [ 592508.84563217]
 [1313036.56991246]
 [-195811.62574983]
 [  73570.22464082]
 [  -1840.07991301]
 [ 510764.96755353]
 [ 442940.21068399]
 [ 491172.09400332]
 [ 657238.36445534]
 [ 462066.64717269]
 [ 528477.71091045]
 [ -90920.87872307]
 [ 220968.50792615]
 [ 581300.0039376 ]
 [ 498291.20462611]
 [ 550041.20869957]
 [ -10155.92186461]
 [ 147322.66169047]
 [ 470382.4891243 ]
 [ 236403.46050055]
 [ 231048.8081959 ]
 [ 285101.78088138]
 [1442879.65617986]
 [ 433277.73725179]
 [  43456.31244475]
 [ 493359.68004519]
 [ 749482.59121579]
 [ 160051.68417743]
 [ 294245.04910716]
 [1375187.43317294]
 [ 810987.22653012]
 [ 378340.50066724]
 [ 568252.9025736 ]
 [ 396792.89929979]
 [ 522989.2552224 ]
 [ 619446.28610101]
 [ 574018.04608966]
 [ 764759.9974512 ]
 [  99090.77837113]
 [ 764740.41635662]
 [ 489201.75906938]
 [ 275589.20760094]
 [1344685.37955251]
 [  -8727.94376452]
 [ 866867.4918022 ]
 [ 525426.31652279]
 [ 487014.17302752]
 [ 179282.70735411]
 [ 323699.9085169 ]
 [ 568303.54753751]
 [ 402091.29519325]
 [ 439306.70735972]
 [ 589559.58947803]
 [ 266414.87944582]
 [ 466224.56814849]
 [ 459989.72142476]
 [ 262691.83880728]
 [ 155392.20668332]
 [ 288585.66400102]
 [ 365866.73773983]
 [  14791.60399023]
 [ 392895.25882256]
 [ 507961.32424554]
 [ 468934.84766302]
 [ 473434.86171864]
 [ 550373.84237763]
 [1244410.70756337]
 [ 446525.10378431]
 [ 402091.29519325]
 [1367387.17342232]
 [ 207191.42285591]
 [1375187.43317294]
 [ -29748.79541482]
 [  -1840.07991301]
 [ 487014.17302752]
 [-315762.3297087 ]
 [ 625458.32927093]
 [  90201.90854405]
 [ 127729.78814028]
 [ 752286.23452377]
 [ 564612.06362319]
 [ 170966.8654025 ]
 [ 459559.87942237]
 [  91505.23068686]
 [ 341342.33960871]
 [ 494132.53373811]
 [ 337645.55480824]
 [ 399911.34003164]
 [ 407238.34670322]
 [1717490.63849138]
 [1446319.55445947]
 [  97221.733365  ]
 [ 731957.70421498]
 [ 707071.79726258]
 [ 115149.43439887]
 [ 109794.78209424]
 [ 505351.8565163 ]
 [ 733368.98426615]
 [ 450789.61557409]
 [ 549070.52023482]
 [ 130449.06845845]
 [ -30123.79105712]
 [ 489143.77847934]
 [  30226.55656461]
 [ -38064.63736643]
 [ 760602.0764754 ]
 [ 439979.021037  ]
 [ 364986.54332075]
 [ -18471.76381622]
 [  62293.19304223]
 [ 182292.02908249]
 [ -62256.17026855]
 [ -13117.11151159]
 [-218619.69764422]
 [ 432902.74160947]
 [ 146019.33954766]
 [ 367851.11121161]
 [ 500478.79066797]
 [ 674137.0685572 ]
 [ 521161.80473301]
 [  10100.41930863]
 [ 472570.07516617]
 [ 398771.15642808]
 [ 525892.7535843 ]
 [1367387.17342232]
 [ 127623.1973263 ]
 [ 269666.82830699]
 [ 824098.81453523]
 [ 465915.677426  ]
 [1398530.75144331]
 [ 711903.75609455]
 [ 498800.47288285]
 [-126389.44322379]
 [ 626874.28744631]
 [ 497517.60102099]
 [ 464254.23321456]
 [ 522465.12687583]
 [  42700.31949203]
 [ 418048.94124031]
 [ 542058.00042602]
 [ 571979.88205703]
 [  21236.67675683]
 [ 649068.50439596]
 [ 289259.70185718]
 [ 473660.21568102]
 [  50956.22042197]
 [ 484016.31058946]
 [ 378420.70967609]
 [ 243210.10369354]
 [ 423763.43979245]
 [ 615703.8466617 ]
 [ 241392.96567151]
 [ 536703.34812139]
 [ 498291.20462611]
 [ 465344.37372941]
 [ 568196.95672353]
 [-115868.40457791]
 [ 464254.23321456]
 [ 586116.81337477]
 [ 504143.52120556]
 [ 437068.47635394]
 [ 549175.38686994]
 [ 242781.42667572]
 [ 760602.0764754 ]
 [1399362.33563848]
 [ 655222.46853951]
 [ 821100.12192748]
 [ 788510.7919772 ]
 [ 226507.00588304]
 [ 527396.65145674]
 [ 649354.06054625]
 [ 517475.62170486]
 [ 377085.31060585]
 [ 553525.40379483]
 [ 115149.43439887]
 [ 457028.53177778]
 [ 396612.44142224]
 [ 610498.87951219]
 [ 796826.63392882]
 [ 809300.39685623]
 [ 639612.18752669]
 [ 124768.59849329]
 [ 517110.47457118]
 [ 511497.22024336]
 [-207088.65734842]
 [ 748128.31354797]
 [ 372985.84836261]
 [ 544331.1786295 ]
 [ 423362.22256279]
 [ 566275.23201352]
 [ 328445.44895758]
 [ 242642.37670423]
 [1775643.54169685]
 [1567911.79422922]
 [ 663098.84489973]
 [ 619861.76763751]
 [ 524901.89887127]
 [ 465344.37372941]
 [ 147322.66169047]
 [ 565568.22992313]
 [ 497036.01456469]
 [ 539196.37652799]
 [ 556658.50106658]
 [1368854.00091608]
 [ 312903.90556921]
 [1364800.94657537]
 [ 460927.8964339 ]
 [ 424586.89965786]
 [ 279640.53776276]
 [ 397933.37421745]
 [  55280.67323343]
 [1372618.66959409]
 [ -77143.79365285]
 [ 393775.45324165]
 [ 543770.08960138]
 [ 669858.109275  ]
 [ -76027.95445262]
 [ 649354.06054625]
 [ 800984.55490462]
 [ 529477.64668462]
 [ 764759.9974512 ]
 [ 127248.20168398]
 [ 665201.23778209]
 [ 683995.04059273]
 [ 674538.72372346]
 [ 417526.24776766]
 [ 764759.9974512 ]
 [ 492056.35790238]
 [ 547512.2184796 ]
 [ 265508.90733118]
 [-369440.30675186]
 [ 466224.56814849]
 [ 118110.62404586]
 [-182962.86718011]
 [ 343000.20711288]
 [ 622822.95728448]
 [ -47470.61983289]
 [ 242018.67325087]
 [ 172270.18754531]
 [1511729.21609193]
 [ 703587.91414294]
 [ 478884.98286173]
 [ 805142.47588043]
 [ 533742.1584744 ]
 [ 393775.45324165]
 [ 675679.19864112]
 [1659644.89196377]
 [ 519646.33417305]
 [ 538990.21996507]
 [ 512119.24522135]
 [ 489201.75906938]
 [ 139006.81973886]
 [ 655979.73427695]
 [ 731496.62964475]
 [  18574.52932371]
 [ 404172.29042114]
 [ 268003.65991667]
 [ 354803.72539359]]

### Calculate RMSE, R-Square

In [18]:
from sklearn.metrics import mean_squared_error, r2_score
import math

In [19]:
print(f"R-Square: {r2_score(y_test, y_pred):.2f}")
print(f"MSE: {mean_squared_error(y_test, y_pred):.2f}")
print(f"RMSE: {math.sqrt(mean_squared_error(y_test, y_pred)):.2f}")

R-Square: 0.50
MSE: 137746947725.80
RMSE: 371142.76

## Validation case scenario:
#### 1. Predict how much will be the car selling price for a car of 
- year 2014 
- 70000 km driven 
- fuel type Diesel
- Seller type Dealer
- manual transmission
- first owner

** 465000 ** actual

In [20]:
x_test.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
3520,2006,60000,0,0,0,1,0,0,1,0,1,0,0
1063,2018,25000,1,0,0,0,0,0,1,0,0,0,0
1248,2006,120000,1,0,0,0,1,0,1,0,0,0,1
583,2005,56580,0,0,0,1,0,0,1,0,0,0,0
1189,2014,25000,0,0,0,1,1,0,1,0,1,0,0

In [23]:
regressor.predict([[2014, 70000, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0]])

array([[810663.29247583]])

The predicted value was 810,663. The actual value was 465000.